%nav.span3.pull-right
  %ul.nav.nav-list
    - @sections.each do |human_name, path|
      %li.nav-header= human_name
      - if (features = Dir.glob(path + '/*.feature').sort).empty?
        %small.muted No docs yet.
      - features.each do |fn|
        - name = ::File.basename(fn, '.feature')
        %li
          %a{:href => to("/#{::File.basename(path)}/#{name}")}= humanize(name)
